<div>
  <!-- <label for="search">Buscar:</label> -->
  <!-- <input id="search" type="text" [(ngModel)]="textInput" placeholder="Buscar país"> -->

  <form class="example-form">
    <div class="custom-input-container">
      <mat-form-field appearance="fill" [ngClass]="{'custom-input': isActive}">
        <mat-label>País</mat-label>
        <input class="input" #inputElement matInput aria-label="Country" [matAutocomplete]="auto" [formControl]="countCtrl"
          (keydown)="onKeydown($event)"> <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name">
            <img alt="" [src]="country.flag" height="25">
            <span>{{ country.name }}</span> |
            <small>Población: {{ country.population }}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      
      <button mat-stroked-button class="button" (click)="buscaPais()" >Buscar</button>
      <br>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedValue" name="continent">
          @for (continent of continents; track continent) {
            <mat-option [value]="continent.value">{{continent.viewValue}}</mat-option>
          }
        </mat-select>
        
      </mat-form-field>
      <button mat-stroked-button class="button" (click)="buscaContinente()">Buscar</button>
    </div>

    <mat-slide-toggle [checked]="countCtrl.disabled"
      (change)="countCtrl.disabled ? countCtrl.enable() : countCtrl.disable()">
      Desactivar entrada?
    </mat-slide-toggle>
  </form>
  <div id="data">
    <pre>{{paisesFiltrados}}</pre>
    <pre>{{paisesPorContinente}}</pre>
  </div>
</div>