<div class="search-container">
  <form class="example-form">
    <div class="search-box">
      <mat-form-field appearance="fill" class="custom-input">
        <mat-label>País</mat-label>
        <input class="input" #inputElement matInput aria-label="Country" [matAutocomplete]="auto" [formControl]="countCtrl"
          (keydown)="onKeydown($event)"> 
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name">
            <img alt="" [src]="country.flag" height="25">
            <span>{{ country.name }}</span> |
            <small>Población: {{ country.population }}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-stroked-button class="button" (click)="buscaPais()">Buscar</button>
    </div>

    <div class="search-box">
      <mat-form-field>
        <mat-label>Continente</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="continent">
          @for (continent of continents; track continent) {
            <mat-option [value]="continent.value">{{continent.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button mat-stroked-button class="button" (click)="buscaContinente()">Buscar</button>
    </div>
  </form>

  <button mat-stroked-button class="button" (click)="limpieza()">Limpiar</button>

<!--   <mat-slide-toggle [checked]="countCtrl.disabled"
    (change)="limpieza()">
    Desactivar entrada?
  </mat-slide-toggle> -->
</div>

<div id="data">
  <div [innerHTML]="paisesFiltrados"></div>
  <div [innerHTML]="paisesPorContinente"></div>
</div>
